{:paths     ["src" "resources"]
 :deps      {org.clojure/clojure                         {:mvn/version "1.10.1"}
             com.cognitect/anomalies                     {:mvn/version "0.1.12"}
             com.datomic/client-cloud                    {:mvn/version "0.8.81"}
             com.datomic/ion                             {:mvn/version "0.9.35"}
             ;These two are needed for all cognitect stuff
             com.cognitect.aws/api                       {:mvn/version "0.8.408"}
             com.cognitect.aws/endpoints                 {:mvn/version "1.1.11.692"}
             com.cognitect.aws/dynamodb                  {:mvn/version "776.2.580.0"}
             com.cognitect.aws/cloudformation            {:mvn/version "773.2.575.0"}
             com.cognitect.aws/ec2                       {:mvn/version "783.2.588.0"}
             com.cognitect.aws/iam                       {:mvn/version "773.2.575.0"}
             com.cognitect.aws/application-autoscaling   {:mvn/version "780.2.584.0"}
             com.cognitect.aws/autoscaling               {:mvn/version "773.2.575.0"}
             com.cognitect.aws/autoscaling-plans         {:mvn/version "773.2.578.0"}
             ;Add embedded repl support
             nrepl                                       {:mvn/version "0.6.0"}
             ;Make life easier with json
             cheshire                                    {:mvn/version "5.9.0"}
             ;Web API libraries
             metosin/reitit                              {:mvn/version "0.3.10"}
             metosin/ring-http-response                  {:mvn/version "0.9.1"}
             hiccup                                      {:mvn/version "1.0.5"}
             com.fasterxml.jackson.core/jackson-core     {:mvn/version "2.9.8"}
             com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.9.8"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases   {:ion-dev        {:deps      {com.datomic/ion-dev {:mvn/version "0.9.247"}}
                              :main-opts ["-m" "datomic.ion.dev"]}
             ;Not there yet
             :delete-storage {:deps      {compute/datomic-cloud-tools {:git/url "https://github.com/ComputeSoftware/datomic-cloud-tools.git"
                                                                       :sha     "d129439d84987b46928d7b93d1db6a280e694834"}}
                              :main-opts ["-m" "dc-tools" "\\$@"]}
             }}
